body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bip{
 border: 0.2px solid rgb(3, 1, 1);
 transition: background-color 0.3 ease;
}

#container{
    display: flex;;
    flex-wrap: wrap;
   border: none;
    width:960px;
    margin: 20px auto;
 
 }
button{
    background-color: rgb(19, 20, 23);
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-shadow: none;
    text-decoration: none;
    width:100px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid rgb(22, 22, 23);
    margin-top: 50px;
    align-self: flex-start;
  
}